<div class="{{b 'widget' 'inline-line'}}">
        <h2 class="{{b 'widget' 'title'}}">
            SE SPC
        </h2>
    <div class="{{b 'summary-widget' 'column'}} {{b 'summary-widget' 'chart'}}"></div>
</div>
